<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
        <add key = "VertexNum" value= "6"/>
        <add key = "VertexData" value = "(A,1)|(B,2)|(C,3)|(D,4)|(E,5)|(F,6)|"/>
        <add key = "Edge" value= "(A,B,3,T)|(A,C,10,T)|(B,D,2,T)|(D,E,4,T)|(E,C,2,T)|(C,F,5,T)|(E,F,7,T)|"/>
        <add key = "StartVertexName" value= "A"/>
        <add key = "EndVertexName" value= "B"/>
    </appSettings>
</configuration>
